/* Basic CSS For the Staff Information Display Page */
body {
	background-image: url("images/customerBG.png");
}

h1 {
	background-color: #bcd6bc;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: "Quicksand", sans-serif; color: white;
	border: 1px solid black;
	text-align: center;
}

h2 {
	background-color: white;
	border: 1px solid black;
	margin: auto;
	width: 50%;
	font-family: "Quicksand", sans-serif;
	text-align: center;
	font-size: 20px;
	background-color: white;
	margin: auto;
	width: 50%
	border: 1px solid black;
}

p1 {
	background-color: #bcd6bc;
	font-family: "Quicksand", sans-serif; color: black;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
	display: block;
	margin: auto;
	width: 75%;
}

/* Stuff relating to forms and tables commented until I can properly test it */
form-data {
	background-color: black;
	border-radius: 1px;
	border: 2px solid grey;
}

table {
	text-align: center;
	font-family: "Quicksand", sans-serif;
	margin: auto;
	width: 50%;
}

th {
	padding: 2px;
	font-weight: bolder;
	background-color: white;
	font-family: "Quicksand", sans-serif;
	border: 1px solid black;
	text-align: center;
	margin: auto;
}

td {
	padding: 2px;
	background-color: white;
	font-family: "Quicksand", sans-serif;
	border: 1px solid black;
	text-align: center;
	margin: auto;
}
