<html th:fragment="NavBar">
  <head>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="/stylesheets/NavBar.css" />
  </head>

  <body>
	  <nav class="navbar navbar-expand-lg" style="background-image:url(/stylesheets/images/metalBackgroundPublicDomain.png);"> <!-- bg-light" -->
      <div class="container-fluid">
        <a class="navbar-brand" style="background-color:#d4d6df; border:1px sold black; padding: 1px;" th:href="@{/}">Database</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Staff Information
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" th:href="@{/staffSubmit}">Add a Staff Member</a></li>
                <li><a class="dropdown-item" th:href="@{/staffView}">Staff Information</a></li>
                <li><a class="dropdown-item" th:href="@{/certificationSubmit}">Add a Certification</a></li>
                <li><a class="dropdown-item" th:href="@{/certificationView}">Certifications</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Customer's Work Orders
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" th:href="@{/workOrderView}">Work Orders</a></li>
                <li><a class="dropdown-item" th:href="@{/workOrderSubmit}">Work Order Submit</a></li>
                <li><a class="dropdown-item" th:href="@{/customerSubmit}">Add a Customer</a></li>
                <li><a class="dropdown-item" th:href="@{/customerView}">Customer Information</a></li>
                <li><a class="dropdown-item" th:href="@{/warrantyClaimSubmit}">Warranty Claim Submit</a></li>
                <li><a class="dropdown-item" th:href="@{/warrantyClaimView}">Warranty Claims</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Item Information
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" th:href="@{/partSubmit}">Submit a Part</a></li>
                <li><a class="dropdown-item" th:href="@{/partView}">Parts</a></li>
                <li><a class="dropdown-item" th:href="@{/toolSubmit}">Submit a Tool</a></li>
                <li><a class="dropdown-item" th:href="@{/toolView}">Tools</a></li>
                <li><a class="dropdown-item" th:href="@{/usageReportSubmit}">Submit a Usage Report</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Company Information
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" th:href="@{/vendorSubmit}">Vendor Submit</a></li>
                <li><a class="dropdown-item" th:href="@{/vendorView}">Vendors</a></li>
                <li><a class="dropdown-item" th:href="@{/warrantyDivisionSubmit}">Warranty Division Submit</a></li>
                <li><a class="dropdown-item" th:href="@{/warrantyDivisionView}">Warranty Divisions</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" th:href="@{/ResetDatabase}" aria-expanded="false">
                Reinitialize Database
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
    crossorigin="anonymous">
    </script>
</body>
</html>
