<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}">

</html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:action="@{/viewDetails}" href="/stylesheets/SMD.css">
  <link rel="stylesheet" th:action="@{/viewDetails}" href="/stylesheets/NavBar.css">
  <title>SMD Home</title>

</head>

<body>
  <h1>
    Welcome to the Service Management Database Home Page
  </h1>
  <div class="TopBar" style="position:fixed;bottom:10;width:90%"></div>
</body>

</html>
