<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:action="@{/viewDetails}" href="/stylesheets/Submitworkorder.css">
  <title>Part Information</title>
</head>

<body>
  <main>
  <h1>Add a new Part's details</h1>
  <h2>Data of an Part will be taken from this page and submitted into both 
        PartList and PartDesciption tables</h2>

  <a href="" class="btn btn-danger">Menu</a>

  <h4>Enter the details for the new Part</h4>
  <div class="form-data">
    <form action="#" method="post" th:action="@{/addpart}" th:object="${Part}">
      <div class="form-name">Name<sup>*</sup></div> <!-- Question: What does this line do? -->

      <input style="font-family: Quicksand, sans-serif;" type="number" id="PartID" 
                th:field="*{PartID}" placeholder="Id of the Part" required />
      <br>
      <input style="font-family: Quicksand, sans-serif;" type="text" id="PartName" 
                th:field="*{PartName}" placeholder="Name of the Part" required />
      <br>
      <input style="font-family: Quicksand, sans-serif;" type="text" id="PartDescription" 
                th:field="*{PartDescription}" placeholder="Description of the Part" required />
      <br>

      <input style="font-family: Quicksand, sans-serif;" type="submit" value="Submit Data" />
      <input style="font-family: Quicksand, sans-serif;" class="reset" type="button" onclick="resetform()" value="Reset">
    </form>
  </div>
  <script type="text/javascript"></script>
  </main>
</body>
</html>