<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}">

</html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:action="@{/viewDetails}" href="/stylesheets/Submitworkorder.css">
  <title>Submit New Workorder</title>
</head>

<body>
  <h1>Submit a Workorder</h1>
  <a href="/src/main/resources/templates/menu.html" class="btn btn-danger">Menu</a>
  <h4>Enter the details for the new Workorder</h4>
  <div class="form-data">
    <form action="#" method="post" th:action="@{/submitorder}" th:object="${Workorder}">
      <div class="form-name">Name<sup>*</sup></div>
      <input style="font-family: Quicksand, sans-serif;" type="text" id="Name" th:field="*{Name}" placeholder="Name of the workorder" required />
      <input style="font-family: Quicksand, sans-serif;" type="submit" value="Submit Data" />
      <input style="font-family: Quicksand, sans-serif;" class="reset" type="button" onclick="resetform()" value="Reset">
    </form>
  </div>
  <script type="text/javascript">
   
  </script>
</body>

</html>