<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}"></html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
    crossorigin="anonymous"
  >
  <link rel="stylesheet" th:action="@{/viewDetails}" href="/stylesheets/partSubmit.css">
  <title>Tool Information</title>
</head>

<body>
  <main>
  <h1>Add a new Tool's details</h1>
  <p1>
  <br>
  <h2>Enter the details for the new Tool</h2>
  <div class="form-data">
    <form action="#" method="post" th:action="@{/toolSubmitForm}" th:object="${Tool}">
      <div class="form-name">Name</div> 
      <input style="font-family: Quicksand, sans-serif;" type="text" id="ToolName" 
                th:field="*{ToolName}" placeholder="Name of the Tool" required />
      <br>
      <input style="font-family: Quicksand, sans-serif;" type="submit" value="Submit Data" />
      <input style="font-family: Quicksand, sans-serif;" class="reset" type="button" onclick="resetform()" value="Reset">
    </form>
  </div>
  <br>
  </p1>
  </main>
  <script type="text/javascript"></script>
</body>
</html>
