<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/NavBar :: NavBar}"></html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
    crossorigin="anonymous"
  >
  <link rel="stylesheet" th:action="@{/viewDetails}" href="/stylesheets/customerSubmit.css">
  <title>Submit Work Order</title>
</head>


<body>
  <main>
  <h1>Add a new Work Order's details</h1>
  <p1>
  <br>
  <h2>Enter the details for the new Work Order</h2>
  <div class="form-data">
    <form action="#" method="post" th:action="@{/workOrderSubmitForm}" th:object="${WorkOrder}">
	    <div class="form-name">Start Date:<br> <input style="font-family: Quicksand, sans-serif;" type="date" id="DateSubmitted" th:field="*{StartDate}" placeholder="Date Submitted the Work Order" required /></div>
      <div class="form-name">CustName:<br> 
      <select th:field="*{CustomerNum}" required>
        <option th:each="cust : ${Customers}" th:value="${cust.CustIdentifier}" th:text="${cust.Name}"></option>
      </select>
      <br><a th:href="@{/customerSubmit}">(Add New Customer)</a>
      </div>
      <div class="form-name">Description of Fault:<br> <input style="font-family: Quicksand, sans-serif;" type="text" id="CustName" th:field="*{Description}" placeholder="Short Description of Fault" required /></div>
      <div class="form-name">ClaimID:<br>
      <select th:field="*{ClaimID}">
        <option selected value=''>No Warranty Claim</option>
        <option th:each="claim : ${WarrantyClaims}" th:value="${claim.WarrantyID}" th:text="${claim.WarrantyID}"></option>
      </select>
      <br><a th:href="@{/warrantyClaimSubmit}">(Add New WarrantyClaim)</a>
      <br><input style="font-family: Quicksand, sans-serif;" type="submit" value="Submit Data" />
      <input style="font-family: Quicksand, sans-serif;" class="reset" type="button" onclick="resetform()" value="Reset">
    </form>
  </div>
  <br>
  </p1>
  </main>
  <script type="text/javascript"></script>
</body>
</html>
